<!--Form do cadastro do perfil.-->
<div class="col-lg-5 col-md-6 col-sm-7 col-xs-11 float-none center-block">
    <div class="login-home frame-form text-center space-header space-footer">
        <form class="login-form frame-spaces">
            <div ng-show="mostrarEtapa(0)">
                <div>
                    <img class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>
                    <div class="twelve columns">
                        <li ng-repead="user in users">{{user.profile.name}}</li>

                    <div class="margin-top-30">
                        <input type="text" ng-model="nEmpresa.nome" placeholder="Nome Empresa"> <br/><br/>
                        <input type="text" ng-model="nEmpresa.website" placeholder="Website"><br/><br/>
                        
                        <md-chips ng-model="produtosModel" md-autocomplete-snap md-require-match>
                            <md-autocomplete 
                                md-autofocus="true"
                                md-no-cache="true" 
                                md-min-length="0"
                                md-selected-item="produtosSelecionados"
                                md-search-text="searchText"
                                md-items="produto in AllProdutos"
                                md-item-text="produto._lowername"
                                placeholder="Insira um produto...">
                                <md-item-template>{{produto._lowername}}</md-item-template>
                            </md-autocomplete>
                             <md-chip-template><span><em>{{$chip._lowername}}</em></span></md-chip-template>
                        </md-chips>

                    </div>
                </div>
                <!-- end row-->
                <br/>


                <!-- Botões de navegação-->
                <br/>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setEtapaAnterior()">Voltar</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setProximaEtapa()">Próximo</button>
                    </div>
                </div>

                <ul class="progressbar margin-top-30 col-md-12 float-none center-block">
                    <li><span class="active"></span></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
            <!-- Breve descrição-->
            <div ng-show="mostrarEtapa(1)">
                <div>
                    <img class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>
                    <textarea class="lined-textarea" name="descricao" ng-model="nEmpresa.breve_descricao" rows="20" cols="20" placeholder="Descrição Profissional"></textarea>
                </div>
                <!-- end row-->
                <div class="row margin-top-30">
                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setEtapaAnterior()">Voltar</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setProximaEtapa()">Próximo</button>
                    </div>
                </div>

                <ul class="progressbar margin-top-30 col-md-12 float-none center-block">
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                    <li></li>
                    <li></li>
                </ul>


            </div>
            <!-- tags expertise-->
            <div ng-show="mostrarEtapa(2)">
                <div>

                    <img class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>

                    <!--<md-chips ng-model="pc.tagNames" readonly="pc.readonly" placeholder="adicione uma expertise"
                              delete-button-label="remova expertise" delete-hing="clique em delete para remover a tag"
                              secondary-placeholder="+Expertise"></md-chips> -->
                    <div class="row">
                    <div class="col-md-12" style="border:1px solid BLUE">
                        <md-chips ng-model="integrantesModel" md-autocomplete-snap md-require-match>
                            <md-autocomplete 
                                md-autofocus="true"
                                md-no-cache="true" 
                                md-min-length="0"
                                md-selected-item="integrantesSelecionados"
                                md-search-text="searchText"
                                md-items="item in nomeUsuarios2"
                                md-item-text="item.nome"
                                placeholder="Insira um integrante...">
                                <md-item-template>{{item.nome}}</md-item-template>
                            </md-autocomplete>
                             <md-chip-template><span><em>{{$chip.nome}}</em></span></md-chip-template>
                        </md-chips>
                    </div>
                </div>

                    <!-- end twelve columns-->
                </div>
                <!-- end row-->
                <div class="row margin-top-30">

                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setEtapaAnterior()">Voltar</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setProximaEtapa()">Próximo</button>
                    </div>

                </div>

                <ul class="progressbar margin-top-30 col-md-12 float-none center-block">
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                    <li></li>
                </ul>

            </div>
            <!-- Redes sociais-->
            <div ng-show="mostrarEtapa(3)">
                <div>
                    <img class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>

                    <input type="text" name="facebook" ng-model="nEmpresa.facebook" placeholder="facebook">
                    <input type="text" name="twitter" ng-model="nEmpresa.twitter" placeholder="@twitter">
                    <input type="text" name="linkedIn" ng-model="nEmpresa.linkedIn" placeholder="linkedin">
                    <br><br/>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-squared pull-left">
                                <input type="checkbox" id="img-perfil-faceboox" style="margin-right: 10px;"/><label for="img-perfil-faceboox"></label>
                            </div>
                            <span class="pull-left">Utilizar mesma foto de perfil do Facebook</span>
                        </div>

                        <div class="col-md-12 margin-top-30">
                            <input type="file" ng-model="fileF" onchange="angular.element(this).scope().addTempImage(this.files)" value="escolher foto">
                        </div>

                        <p ng-show="feedbackUpload">Upload realizado com sucesso!</p>

                        <div class="col-md-12">
                            <button class="btn btn-default btn-100-percent" ng-click="addImages()" style="margin-top:20px;">Carregar foto de perfil</button>
                        </div>
                    </div>
                    <!-- end twelve columns-->
                </div>
                <!-- end row-->
                <div class="row margin-top-30">

                    <div>
                        <div class="col-md-6">
                            <button class="btn btn-default btn-100-percent" ng-click="setEtapaAnterior()">Voltar</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-default btn-100-percent" ng-click="ec.register(nEmpresa)">Concluir</button>
                        </div>
                    </div>
                </div>

                <ul class="progressbar margin-top-30 col-md-12 float-none center-block">
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                </ul>

            </div>
        </form>
    </div>

</div>
