
<div class="body-side-padding margin-top-30 space-footer background-blacked border-white">
  <div class="row profile-border" style="margin-top: 30px;">

    <div class="col-md-3 profile-boxes picture no-padding">
      <img src="{{Empresa.profilePic.getFileRecord().url()}}" class="profile-picture">
    </div>
    <div class="col-md-2 profile-boxes">

        <div class="row">
          <span style="font-size: 0.47em;"> {{Empresa._id}}</span>
           <div class="col-md-12">
             <span style="font-size: 0.87em;">Empresa</span>
           </div>
        </div> 
        <div class="row">
          <div class="col-md-12">
             <span style="font-size: 1.33em;" ng-bind="Empresa.nome" ></span>     
          </div>
        </div>
        <div class="row">
         <div class="col-md-12">
            <span style="font-size:0.77em;" ng-bind="Empresa.website"></span>     
         </div>
        </div>
      <div class="row">
        <div class="col-md-12">
          <span>acho que aqui serao as tags</span>
        </div>
      </div>
    </div>

    <div class="col-md-2 profile-boxes">
      <div class="row">
        <div class="col-md-8 centered">
          <span><i class="fa fa-star stars"></i></span>
          <span><i class="fa fa-star stars"></i></span>
          <span><i class="fa fa-star stars"></i></span>
          <span><i class="fa fa-star stars"></i></span>
          <span><i class="fa fa-star-half-o stars"></i></span>
        </div>
        <div class="col-md-10 centered">
            media de avaliações
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <h4 class="horas-mentorias text-center">hs</h4>
          <p class="text-center">mentoria</p>
        </div>
        <div class="col-md-6">
          <h4 class="horas-mentorias text-center">9</h4> 
          <p class="text-center">badges</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 profile-boxes">
      <p class="text-center">
       {{Empresa.descricao}}
      </p>
    </div>

    <div class="col-md-1 profile-boxes">
      <div class="row">
        <div class="col-md-9 centered">
          <a href=""><i class="fa fa-facebook-official icon-bar"></i></a>   
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 centered">
          <a href=""><i class="fa fa-twitter icon-bar"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 centered">
          <a href=""><i class="fa fa-linkedin icon-bar"></i></a>
        </div>
      </div>

    </div>
    <div class="col-md-2 profile-boxes">
      <button class="btn btn-default profile-actions" >
        <i class="fa fa-commenting-o"></i> Mensagens <span></span>
      </button>
      <button class="btn btn-default profile-actions" >
        <i class="fa fa-calendar"></i> Agenda <span></span>
      </button>
      <button class="btn btn-default profile-actions" >
        <i class="fa fa-group"></i> Ações de mentoria<span></span>
      </button>
    </div>
  </div>
  <!-- Calendario daqui pra baixo-->
</div>
<div class="container">
<div class="row">
<div class="col-md-4">
  <div class="col-md-12"> <h2>Integrantes</h2> </div>
	<div id="dirSidebar" class="col-md-12">
		
  
    <div class="row" id="integrante">
      <div class="col-md-12">
				<div class="col-md-3">
          <img src="resources/Logo_agripa_periodico.png" width="50" />
        </div>
				<div class="col-md-8"><p>Jefferson Maran - <span>(cargo)</span></p></div>
				<div class="col-md-1"><a href="#">chave</a><br /><a href="#">X</a></div>
			</div>
		</div>


	</div>	
</div> 
<div class="col-md-8">
<div class="col-md-12">
  <h2>Produtos</h2>
</div>

<div class="col-sm-4" ng-repeat="produto in listaprodutos">
    <div class="col-item">
      <div class="photo">
        <img src="resources/produtos/produtos.PNG" class="img-responsive" alt="a"  />
        <!-- {{produto.imagem_destaque}} -->
      </div>
      <div class="info">
        <div class="row">
          <div class="detalhes col-md-12">
            <h5>
          		{{produto.nome}}
            </h5>
          </div>

          <div class="rating hidden-sm col-md-12">
            <i class="detalhes-text-color glyphicon glyphicon-star"></i>
            <i class="detalhes-text-color glyphicon glyphicon-star"></i>
            <i class="detalhes-text-color glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
          </div>
        </div>
        <div class="separator clear-left">
          <p class="btn-add">
         	  {{produto.descricao}}
          </p>
        </div>
      </div>
    </div>


  </div>
</div><!--fim coluna md-8-->

</div>
</div>
