<div class="container">

  <div class="row profile-border" style="margin-top: 30px;">

    <div class="col-md-3 profile-boxes picture no-padding">
    <img src="" class="profile-picture">
    </div>
    <div class="col-md-2 profile-boxes">

        <div class="row">
           <div class="col-md-12">
             <span style="font-size: 0.87em;"></span>
           </div>
        </div> 
        <div class="row">
          <div class="col-md-12">
             <span style="font-size: 1.33em;"></span>     
          </div>
        </div>
        <div class="row">
         <div class="col-md-12">
            <span style="font-size:0.77em;"></span>     
         </div>
        </div>
      <div class="row">
        <div class="col-md-12">
            <span ng-repeat="expertise in $root.currentUser.profile.expertise">
            <i class="fa fa-square"></i> 
          
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-2 profile-boxes">
      <div class="row">
        <div class="col-md-8 centered">
          <span><i class="fa fa-star stars"></i></span>
          <span><i class="fa fa-star stars"></i></span>
          <span><i class="fa fa-star stars"></i></span>
          <span><i class="fa fa-star stars"></i></span>
          <span><i class="fa fa-star-half-o stars"></i></span>
        </div>
        <div class="col-md-10 centered">
            media de avaliações
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <h4 class="horas-mentorias text-center">hs</h4>
          <p class="text-center">mentoria</p>
        </div>
        <div class="col-md-6">
          <h4 class="horas-mentorias text-center">9</h4> 
          <p class="text-center">badges</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 profile-boxes">
      <p class="text-center">
       
      </p>
    </div>

    <div class="col-md-1 profile-boxes">
      <div class="row">
        <div class="col-md-9 centered">
          <a href=""><i class="fa fa-facebook-official icon-bar"></i></a>   
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 centered">
          <a href=""><i class="fa fa-twitter icon-bar"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 centered">
          <a href=""><i class="fa fa-linkedin icon-bar"></i></a>
        </div>
      </div>

    </div>
    <div class="col-md-2 profile-boxes">
      <button class="btn btn-default profile-actions" ><i class="fa fa-commenting-o"></i> Mensagens <span></span></button>
      <button class="btn btn-default profile-actions" ><i class="fa fa-calendar"></i> Agenda <span></span></button>
      <button class="btn btn-default profile-actions" ><i class="fa fa-group"></i> Ações de mentoria<span></span></button>
    </div>
  </div>
  <!-- Calendario daqui pra baixo-->
</div>
<div class="container">
<div class="row">
<div class="col-md-4">
	<div id="dirSidebar" class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">IMAGEM</div>
				<div class="col-md-8"> Descrição</div>
				<div class="col-md-1">açoes</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				teste
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				teste
			</div>
		</div>
	</div>	
</div> 
<div class="col-md-8">

<div class="col-sm-4">
    <div class="col-item">
      <div class="photo">
        <img src="resources/produtos.png" class="img-responsive" alt="a" />
      </div>
      <div class="info">
        <div class="row">
          <div class="detalhes col-md-12">
            <h5>
          		Nome Produto
            </h5>
          </div>

          <div class="rating hidden-sm col-md-12">
            <i class="detalhes-text-color glyphicon glyphicon-star"></i>
            <i class="detalhes-text-color glyphicon glyphicon-star"></i>
            <i class="detalhes-text-color glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
          </div>
        </div>
        <div class="separator clear-left">
          <p class="btn-add">
         	Detalhes do produto
          </p>
        </div>
      </div>
    </div>
  </div>
</div><!--fim coluna md-8-->

</div>
</div>
