/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import(

"maran.css"
)
;

html {
    color       : #222;
    font-size   : 1em;
    line-height : 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background  : #b3d4fc;
    text-shadow : none;
}

::selection {
    background  : #b3d4fc;
    text-shadow : none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display    : block;
    height     : 1px;
    border     : 0;
    border-top : 1px solid #ccc;
    margin     : 1em 0;
    padding    : 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align : middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border  : 0;
    margin  : 0;
    padding : 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize : vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin     : 0.2em 0;
    background : #ccc;
    color      : #000;
    padding    : 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*General*/

* {
    -webkit-border-radius : 0 !important;
    -moz-border-radius    : 0 !important;
    border-radius         : 0 !important;
}

html {
    background : none;
}

body {
    height                  : auto !important;
    background              : #000 url('/resources/background.png') no-repeat center center !important;
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover !important;
    background-attachment   : fixed !important;
    color                   : #FFFFFF;

}

a, a:visited, a:hover, a:active {
    text-decoration : none;
    color           : #FFFFFF;
}

input[type=text] {
    height             : 30px;
    border             : 0;
    background         : transparent;
    width              : calc(100% - 2px);
    margin-left        : 1px;
    box-shadow         : -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
    -webkit-transition : box-shadow 0.3s;
    transition         : box-shadow 0.3s;
}

input[type=text]:focus {
    outline    : none;
    border     : 0;
    background : transparent;
    box-shadow : -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
}

input[type=file] {
    height             : 30px;
    border             : 0;
    background         : transparent;
    width              : calc(100% - 2px);
    margin-left        : 1px;
    margin-top         : 10px;
    box-shadow         : -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
    -webkit-transition : box-shadow 0.3s;
    transition         : box-shadow 0.3s;
}

input[type=file]:focus {
    outline    : none;
    border     : 0;
    margin-top : 10px;
    background : transparent;
    box-shadow : -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
}

input[type=password] {
    height             : 30px;
    border             : 0;
    background         : transparent;
    width              : calc(100% - 2px);
    margin-left        : 1px;
    box-shadow         : -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
    -webkit-transition : box-shadow 0.3s;
    transition         : box-shadow 0.3s;
}

input[type=password]:focus {
    border     : 0;
    background : transparent;
    box-shadow : -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
}

input[type=radio] {
    -webkit-appearance : checkbox; /* Chrome, Safari, Opera */
    -moz-appearance    : checkbox; /* Firefox */
    -ms-appearance     : checkbox; /* not currently supported */
    border-color       : #FFFFFF;
    background-color   : transparent !important;

}

button:hover, input[type=submit], input[type=submit]:focus, input[type=submit]:hover, input[type=password]:focus, input[type=password], input[type=file]:focus, input[type=file], input[type=text]:focus, input[type=text] {
    color : #FFFFFF;
}

textarea {
    width              : calc(100% - 2px);
    margin-left        : 1px;
    height             : 200px;
    -webkit-transition : box-shadow 0.3s;
    transition         : box-shadow 0.3s;
    resize             : none;
    margin-top         : 10px;
}

textarea, textarea:focus {
    color      : #FFFFFF;
    border     : 0;
    background : transparent;
    /*box-shadow : -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;*/
}

textarea:focus, input:focus {
    outline : none;
}

/*General End*/

#input-midias-sociais span {
    position : absolute;
    right    : 66px;
    padding  : 2px 10px;
    border   : 1px solid #FFF;
    cursor   : pointer;
}

#input-midias-sociais input {
    background-size     : 80px auto;
    background-repeat   : no-repeat;
    background-position : 15px center;
    padding-left        : 100px;
    cursor              : pointer;
}

#input-midias-sociais input[name=facebook] {
    background-image : url("/resources/Logo-Facebook.png");
}

#input-midias-sociais input[name=twitter] {
    background-image : url("/resources/Logo-Twitter.png");
}

#input-midias-sociais input[name=linkedIn] {
    background-image : url("/resources/logo-linkedin.png");
}

.profile-picture {
    width  : 200px;
    height : 115px;
    margin : auto;

}

.button {
    color  : #FFFFFF;
    margin : 0;

}

.space-header {
    margin-top : 80px;
}

.space-footer {
    margin-bottom : 80px;
}

.login-form #button-login-linkedIn {
    margin-right : 15px;
}

.login-form .img-button-linkedin {
    width       : 75px;
    margin-left : 5px;
}

.login-form, .login-form a {
    font-size : 18px;
}

.login-form {

}

.side-padding-20 {
    padding : 0 20px;
}

.login-form input[type=text], .login-form input[type=password] {
    padding : 0 20px;
}

.profile-border {
    border       : 1px;
    border-color : #FFFFFF;
    border-style : solid;
    width        : 100%;
    height       : 100%;
}

.frame-form {
    border   : 2px solid #FFFFFF;
    overflow : hidden;
    padding  : 50px;
}

.frame-spaces {
    display : block;
}

.modal-close-icon {
    margin-top   : -16px !important;
    margin-right : -55px;
    height       : 26px;
    padding      : 0px 6px;
    opacity      : 1;
}

.modal-b-title {
    position         : absolute;
    background-color : rgb(255, 255, 255);
    color            : rgb(0, 0, 0);
    top              : -30px;
    font-size        : 16px;
    padding          : 3px 10px;
}

.agripa-brand {
    width  : 90%;
    margin : 0% 5%;
}

#menu .button {
    margin-left : 0.5% !important;
    width       : 100% !important;
}

.pesquisar {
    float        : left !important;
    width        : 100%;
    height       : 32px !important;
    padding-left : 30px;
}

.btn-pesquisar {
    float   : right !important;
    border  : 1px solid white;
    padding : 5px;
}

.profile-border > * {
    border : 1px solid white;
}

.profile-boxes {
    min-height : 135px !important;
}

.profile-actions {
    width : 100% !important;
}

.search {
    float : right;
}

@media only screen and (min-width : 1200px) {

    .container {
        width : 96% !important
    }
}

/********************************Painel de Controle********************************/

#painel-controle {
    border           : 1px solid #fff;
    background-color : rgba(0, 0, 0, 0.6);
    padding-bottom   : 20px;
}

#painel-controle #lista-usuarios {

}

#painel-controle #lista-empresas {

}

#painel-controle .lista {
    list-style       : none;
    padding          : 0;
    border           : 1px solid rgb(255, 255, 255);
    overflow         : hidden;
    background-color : rgba(127, 127, 127, 0.7);
}

#painel-controle .lista .item {

}

#painel-controle .lista .item .picture img {
    border : 1px solid #fff;
}

#painel-controle .lista > li {
    border-bottom : 1px solid rgb(255, 255, 255);
    overflow      : hidden;
}

#painel-controle .lista > li > div {
    float : left;
}

#painel-controle .lista > li.item > div {
    padding : 5px;
}

#painel-controle .lista > li.item p {
    margin-bottom : 0;
}

#painel-controle .lista > li.item > .picture {
    margin-bottom    : 0;
    background-color : rgba(110, 110, 110, 0.7);
}

#painel-controle .lista > li.item > .identification {
    margin-bottom    : 0;
    background-color : rgba(60, 60, 60, 0.7);
}

#painel-controle .lista > li.item > .identification {

}

#painel-controle .lista > li > div:first-child {
    width            : 30%;
    background-color : rgba(144, 144, 144, 0.7);
    text-align       : center;
}

#painel-controle .lista > li > div:last-child {
    width : 70%;
}

#painel-controle #trajetorias {
    border           : 1px solid #fff;
    overflow         : hidden;
    background-color : rgba(90, 90, 90, 0.7);
}

#painel-controle #trajetorias .requisicao {
    padding       : 10px 0;
    border-bottom : 1px solid #fff;
    overflow      : hidden;
}

#painel-controle #trajetorias .requisicao > div {
    padding    : 0 10px;
    min-height : 200px;
}

#painel-controle #trajetorias .requisicao > div h5 {
    margin-top : 0;
}

#painel-controle #trajetorias .requisicao > div hr {
    clear     : both;
    width     : 68px;
    transform : rotate(90deg);
}

#painel-controle #trajetorias .requisicao > div p {
    margin-bottom : 0;
}

#painel-controle #trajetorias .requisicao div {
    z-index : 1;
}

#painel-controle #trajetorias .requisicao > .ligacao {
    border-right : 1px solid #fff;
}

#painel-controle #trajetorias .requisicao > .ligacao p {
    font-size : 0.85em;
}

#painel-controle #trajetorias .requisicao > .ligacao .picture {
    border : 1px solid #fff;
}

#painel-controle #trajetorias .requisicao > .solicitacao {
}

#painel-controle #trajetorias .requisicao > .solicitacao .botoes span {
    margin-right : 5px;
}

#painel-controle #trajetorias .requisicao > .solicitacao p {
    font-size : 0.85em;
}

#painel-controle #trajetorias .requisicao > .comentario {
    border-left : 1px solid #fff;
}

#painel-controle #trajetorias .requisicao > .comentario p {
    font-size  : 0.85em;
    text-align : justify;
}

/********************************Painel de Controle End********************************/

/********************************Scroll Bar Personalizado********************************/
.vertical {
    overflow : hidden;
}

.vertical .sbCtntCtnr * {
    max-width : 16px !important;
}

.vertical {
    height : 500px;
}

.vertical .sbCtntCtnr {
    background : #CCC;
    padding    : 0;
    margin     : 0;
    text-align : center;
    border     : 1px solid #ABC;
    display    : table;
}

.vertical .sbCtntCtnr {
    height : 100%;
    width  : 18px;
    float  : right;
}

/*IE 8 requires !Doctype, IE 9 > supports, no IE 7 Support*/

.sbCtntCtnr > * {
    display : table-row;
}

.sbCtntCtnr > * span.middle {
    display    : table-cell;
    text-align : middle;
    height     : 100%;
    background : #797979;
    width      : 100%;
}

.sbCtntCtnr > * span.middle > .scrollBtn {
    min-height : 16px !important;
    min-width  : 16px !important;
    position   : relative;
    background : #FFF;
    display    : inline-block;
}

/********************************Scroll Bar Personalizado End********************************/

/********************************Barra de Controle********************************/

#barra-controle {

}

.profile-boxes {
    min-height : 155px !important;
    padding    : 10px;
}

#barra-controle .profile .picture {
    margin-top : 12px;
}

#barra-controle .profile .identification {
    margin-top    : -10px;
    padding-right : 0;
}

#barra-controle .profile .habilidades {
    clear      : both;
    margin-top : 15px;
}

#barra-controle .profile .habilidades span {
    margin-right : 5px;

}

#barra-controle .profile .habilidades i {
    margin-right : 5px;

}

#barra-controle .score p {
    text-align : center;
    margin     : 0;
}

#barra-controle .score .stars {
    margin     : 10px 2px 0;
    font-size  : 1.22em;
    margin-top : 10px;
}

#barra-controle .score .horas-mentorias {
    line-height : 40px;
    font-size   : 1.43em;

}

#barra-controle .descricao p {
    text-align : justify;
    font-size  : 12px;
}

#barra-controle .social {

}

#barra-controle .social a {
    display    : block;
    font-size  : 8px;
    text-align : center;
    padding    : 5px;
}

#barra-controle .social .icon-bar {
    font-size : 2.8em;
    padding   : 3px 0;
}

#barra-controle .report button {
    padding      : 0px;
    padding-left : 12px;
}

#barra-controle .report .legenda {
    float       : left;
    line-height : 32px;
}

@media (max-width : 1200px) {
    #barra-controle .report .legenda {
        font-size : 11px;
    }

    #barra-controle .social a {
        font-size : 6px;
        padding   : 8px 5px;
    }

}

@media (max-width : 992px) {
    #barra-controle .profile .habilidades {
        margin-top : 5px;
    }

}

@media (max-width : 768px) {
    #barra-controle .report .legenda {
        font-size  : 17px;
        margin-top : 5px;
    }

    #barra-controle .social {
        padding : 0;
    }

    #barra-controle .descricao {
        font-size : 0.77em;
    }

    #barra-controle .score .stars {
        font-size : 0.77em;
    }

    #barra-controle .score .media-avaliacao {
        font-size : 0.77em;
    }
}

#barra-controle .report .numero {
    color       : #F98800;
    float       : right;
    border-left : 1px solid rgb(255, 255, 255);
    padding     : 4px 12px;
    font-weight : bold;
    font-size   : 16px;
}

/********************************Barra de Controle End********************************/

/********************************Trajetória de Desenvolvimento********************************/

#trajetoria-de-desenvolvimento {

}

#trajetoria-de-desenvolvimento .trajetoria-detalhe {
    margin-bottom : 10px;
}

#trajetoria-de-desenvolvimento .trajetoria-detalhe > div {
    margin  : 10px 0;
    padding : 0 10px;
}

#trajetoria-de-desenvolvimento .trajetoria-detalhe > div:first-child {
    border-right : 1px solid #fff;
}

#trajetoria-de-desenvolvimento .trajetoria-detalhe > div:last-child {
    border-left : 1px solid #fff;
}

#trajetoria-de-desenvolvimento .trajetoria {
    border: 0 none;
}

#trajetoria-de-desenvolvimento .trajetoria thead {
    border : 1px solid #fff;
}

#trajetoria-de-desenvolvimento .trajetoria thead tr {

}

#trajetoria-de-desenvolvimento .trajetoria thead tr td {
    border-right : 2px solid #fff;
    font-weight  : bold;
}

#trajetoria-de-desenvolvimento .trajetoria tbody {

}

#trajetoria-de-desenvolvimento .trajetoria tbody tr {

}

#trajetoria-de-desenvolvimento .trajetoria tbody tr td {
    border-top : 0 none;
    padding    : 0px 0px 0 0;
    position   : relative;
}

#trajetoria-de-desenvolvimento .trajetoria tbody tr td .active {
    border  : 1px solid #FFF;
    display : inline-block;
    padding : 3px 10px;
}

#trajetoria-de-desenvolvimento .trajetoria tbody tr td .linhas-verticais {
    background-color : rgb(255, 255, 255);
    height           : 1px;
    transform        : rotate(90deg);
    width            : 22px;
    margin           : 0px auto;
    bottom           : -14px;
    position         : relative;
}

#trajetoria-de-desenvolvimento .trajetoria tbody tr td {
    white-space : nowrap;
}

@media (max-width : 768px) {
    #trajetoria-de-desenvolvimento .trajetoria thead tr td {
        font-size : 0.75em;
    }

    #trajetoria-de-desenvolvimento .trajetoria tbody tr td {
        font-size : 0.75em;
    }
}

#trajetoria-de-desenvolvimento .trajetoria tbody tr.linhas-verticais {

}

#trajetoria-de-desenvolvimento .trajetoria tbody tr.linhas-verticais td {
    padding : 15px 0;
}

#trajetoria-de-desenvolvimento .trajetoria tbody tr.linhas-verticais td hr {
    width     : 32px;
    transform : rotate(90deg);
    z-index   : 0;
    margin    : 0 auto;
}

#trajetoria-de-desenvolvimento .trajetoria .flag {
    position : absolute;
    top      : -100px;
    left     : -106px;
    width    : 114px;
}

#trajetoria-de-desenvolvimento .trajetoria .flag .legenda {
    font-size    : 0.7em;
    float        : right;
    margin-right : 6px;
}

#trajetoria-de-desenvolvimento .trajetoria .flag .icon {
    float    : right;
    height   : 17px;
    position : relative;
    z-index  : 2;
}

#trajetoria-de-desenvolvimento .trajetoria .flag .icon.atraso {
    margin-top : -5px;
}

#trajetoria-de-desenvolvimento .trajetoria .flag .icon.atraso:before {
    font-family : 'Glyphicons Halflings';
    content     : "\e014"
}

#trajetoria-de-desenvolvimento .trajetoria .flag .icon.atual {
    border           : 3px solid rgb(255, 255, 255);
    padding          : 5px;

    background-color : rgb(249, 136, 0);

}

#trajetoria-de-desenvolvimento .trajetoria .flag .linha {
    transform        : rotate(90deg);
    background-color : #FFF;
    height           : 4px;
    width            : 60px;
    position         : absolute;
    right            : -22px;
    bottom           : -23px;
}

#trajetoria-de-desenvolvimento .resumo {
    margin : 30px 0;
}

#trajetoria-de-desenvolvimento .resumo h4 {
    padding-left : 20px;
}

#trajetoria-de-desenvolvimento .resumo .quadrado {
    background-color : rgba(144, 144, 144, 0.7);
    border           : 2px solid #fff;
    padding          : 10px 20px;

}

#trajetoria-de-desenvolvimento .resumo .quadrado h3 {

}

#trajetoria-de-desenvolvimento .resumo .quadrado span {
    color : #F98800;
}

/********************************Trajetória de Desenvolvimento End********************************/

/********************************Chat********************************/

#chat {
    overflow : hidden;

}

#chat #lista-mensagens {

}

#chat #lista-contatos {

}

#chat .lista {
    list-style       : none;
    padding          : 0;
    border           : 1px solid rgb(255, 255, 255);
    overflow         : hidden;
    background-color : rgba(140, 140, 140, 0.7);
    min-height       : 500px;
    max-height       : 500px;
}

#chat .lista > li {
    border-bottom : 1px solid rgb(255, 255, 255);
    overflow      : hidden;
}

#chat .lista > li div {
    float   : left;
    padding : 5px;
}

#chat .lista > li > .picture {
    width            : 30%;
    background-color : rgba(160, 160, 160, 0.7);
    text-align       : center;
}

#chat .lista > li > .picture img {
    border : 1px solid #fff;
}

#chat .lista > li > .details {
    width : 60%;
}

#chat .lista > li > .details p {
    font-size     : 0.80em;
    margin-bottom : 0;
}

#chat .lista > li > .details h5 {
    font-weight   : bold;
    margin-bottom : 5px;
    font-size     : 0.90em;
}

#chat .lista > li > .time {
    width            : 10%;
    background-color : rgba(144, 144, 144, 0.7);
    padding          : 0;
}

#chat .lista > li > .time span {
    border        : 1px solid #FFF;
    display       : block;
    padding       : 3px 7px;
    margin-top    : -1px;
    margin-right  : -2px;
    margin-bottom : 11px;
}

#chat .lista > li > .time small {
    font-size : 0.60em;
}

#chat .lista > li > .buttons {
    width       : 10%;
    padding     : 0px;
    padding-top : 13px;
}

#chat .lista > li > .buttons span {
    border    : 1px solid rgb(255, 255, 255);
    padding   : 5px;
    font-size : 9px;
}

#chat #conversa {
    border           : 1px solid #fff;
    overflow         : hidden;
    background-color : rgba(140, 140, 140, 0.7);
    min-height       : 500px;
    max-height       : 500px;
    position         : relative;
}

#chat #conversa > .mensagens {

}

#chat #conversa > .mensagens .mensagem {
    margin   : 15px;
    overflow : hidden;
    clear    : both;
}

#chat #conversa > .mensagens .picture {
    padding : 0;
}

#chat #conversa > .mensagens .picture img {
    border : 1px solid #fff;
}

#chat #conversa > .mensagens .mensagem.me .picture {
    float : right;
}

#chat #conversa > .mensagens .mensagem.me .text {
    background-color : #444;
    color            : #fff;
    float            : right;
}

#chat #conversa > .mensagens .mensagem .text {
    width      : auto;
    padding    : 6px 20px;
    max-width  : 80%;
    text-align : left;
    position   : relative;
}

#chat #conversa > .mensagens .mensagem .triangle {
    line-height  : 60px;
    margin-right : -4px;
}

#chat #conversa > .mensagens .mensagem.me .triangle {
    float       : right;
    transform   : rotate(180deg);
    color       : #444;
    margin-left : -4px;
}

#chat #conversa > .mensagens .mensagem.other .triangle {
    float : left;
}

#chat #conversa > .mensagens .mensagem .text .time {
    position  : absolute;
    bottom    : 1px;
    right     : 4px;
    font-size : 0.70em;
    color     : #6B6B6B;
}

#chat #conversa > .mensagens .mensagem.other .picture {
    float : left;
}

#chat #conversa > .mensagens .mensagem.other .text {
    background-color : #fff;
    color            : #444;
    float            : left;
}

#chat #conversa > .pesquisa {
    position         : absolute;
    width            : 97%;
    bottom           : 0px;
    border-top       : 1px solid #fff;
    padding          : 12px 0;
    overflow         : hidden;
    background-color : #6D6D6D;
}

/********************************Chat End********************************/

/********************************Progress Bar********************************/
.progressbar {
    margin-bottom : 30px;
    overflow      : hidden;
    width         : 180px;
    padding       : 0;
}

.progressbar li {
    list-style-type : none;
    width           : 50px;
    float           : left;
    position        : relative;
}

.progressbar li:before {
    content     : ' ';
    padding     : 8px 0px;
    width       : 20px;
    line-height : 15px;
    display     : block;
    border      : 2px solid #fff;
}

.progressbar li:after {
    content    : '';
    width      : 31px;
    height     : 2px;
    background : #fff;
    position   : absolute;
    left       : 20px;
    top        : 9px;
}

.progressbar li:last-child:after {
    content : none;
}

.progressbar li:last-child {
    width : 15px;
}

.progressbar li span.active {
    background-color : #fff;
    width            : 10px;
    height           : 10px;
    position         : absolute;
    left             : 5px;
    top              : 5px;
}

/********************************Progress Bar End********************************/

/*********************************Text area com linhas********************************/

.lined-textarea, .lined-textarea:focus {
    background-color : transparent;
    background-image : -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30px, #fff 30px, #fff 31px, rgba(0, 0, 0, 0) 31px);
    background-image : -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30px, #fff 30px, #fff 31px, rgba(0, 0, 0, 0) 31px);
    background-image : -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30px, #fff 30px, #fff 31px, rgba(0, 0, 0, 0) 31px);
    background-image : -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30px, #fff 30px, #fff 31px, rgba(0, 0, 0, 0) 31px);
    background-image : linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30px, #fff 30px, #fff 31px, rgba(0, 0, 0, 0) 31px);
    background-size  : 100% 31px;
    line-height      : 31px;
    padding          : 8px;
    border           : 0 none;
}

/*Text area com linhas End*/

/********************************Campos Input Quadrados**********************/

.input-squared {
    width        : 16px;
    height       : 16px;
    position     : relative;
    margin-right : 10px;
    border       : 2px solid #fff;
    box-sizing   : content-box;
}

.input-squared label {
    width      : 12px;
    height     : 12px;
    position   : absolute;
    top        : 2px;
    left       : 2px;
    cursor     : pointer;
    background : transparent;
}

.input-squared label:after {
    content    : '';
    width      : 10px;
    height     : 10px;
    position   : absolute;
    top        : 1px;
    left       : 1px;
    background : #fff;
    opacity    : 0;
}

.input-squared label:hover::after {
    opacity : 0.3;
}

.input-squared input[type=radio], .input-squared input[type=checkbox] {
    visibility : hidden;
}

.input-squared input[type=radio]:checked + label:after, .input-squared input[type=checkbox]:checked + label:after {
    opacity : 1;
}

/****************************Campos Input Quadrados End**********************/

/*********************************Helpers*********************************/
.margin-top-60 {
    margin-top : 60px;
}

.margin-top-30 {
    margin-top : 30px;
}

.text-decoration-underline {
    text-decoration : underline;
}

.no-margin-top {
    margin-top : 0;
}

.overflow-hidden {
    overflow : hidden;
}

.float-none {
    float : none;
}

.no-padding {
    padding : 0px !important;
}

.right-white-border {
    border-right : 1px solid #fff;
}

.background-transparent {
    background : transparent;
}

.background-transparent:hover {
    background : transparent;
}

.background-blacked {
    background-color : rgba(0, 0, 0, 0.6);
    overflow         : hidden;
}

.background-grey {
    background-color : rgba(90, 90, 90, 0.6);

}

.border-radious-none {
    border-radius : 0px;
}

.border-white, .border-white:hover {
    border : 1px solid #fff;
}

.color-white, .color-white:hover {
    color : #fff;
}

.modal-footer {
    border : 0 none;
}

.modal-b-title {
    position         : absolute;
    background-color : rgb(255, 255, 255);
    color            : rgb(0, 0, 0);
    top              : -30px;
    font-size        : 16px;
    padding          : 3px 10px;
}

.modal-dialog {
    margin-top : 80px;
}

.agripa-brand {
    width  : 90%;
    margin : 0% 5%;
}

#menu .button {
    margin-left : 0.5% !important;
    width       : 100% !important;
}

.pesquisar {
    float  : left !important;
    width  : 100%;
    height : 32px !important;
}

.btn-pesquisar {
    float      : right !important;
    border     : 1px solid white;
    padding    : 5px;
    text-align : center;
}

.profile-border > * {
    border : 1px solid white;
}

.btn-default {
    background-color : transparent !important;
    color            : #fff;
}

.profile-actions {
    width : 100% !important;
}

.no-padding {
    padding : 0px !important;
}

.search {
    float : right;
}

.btn:focus, .btn:active, .btn:visited {
    color : #fff;
}

.btn:hover {
    color : #c9c9c9;
}

.centered {
    float  : none !important;
    margin : 0 auto !important;
}

#dirSidebar {
    border           : 2px solid #fff;
    background-color : #c8c8c8;
    filter           : alpha(opacity=50);
    opacity          : 0.5;
    -moz-opacity     : 0.5;
    -webkit-opacity  : 0.5;
}

a.color-white, a.color-white:hover {
    color : #fff;
}

.btn-100-percent {
    width : 100%;
}

.body-side-padding {
    padding : 0 15px;
}

/**********************************Helpers End**********************************/

/**********************************Bootstrap sobrescrita*********************/

.text-center {
    text-align : center;
}

.btn:focus, .btn:active, .btn:hover, .btn:visited {
    color : #fff;
}

.btn-default {
    background-color : transparent !important;
    color            : #fff;
}

.modal-dialog {
    margin-top : 80px;
}

.modal-content {
    background-color : #000;
    border-radius    : 0;
    border           : 1px solid #fff;
}

.modal-footer {
    border : 0 none;
}

/**********************************Bootstrap sobrescrita End**********************************/

/*Media Querys*/

/*Media Querys End*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display : none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border   : 0;
    clip     : rect(0 0 0 0);
    height   : 1px;
    margin   : -1px;
    overflow : hidden;
    padding  : 0;
    position : absolute;
    width    : 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip     : auto;
    height   : auto;
    margin   : 0;
    overflow : visible;
    position : static;
    width    : auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility : hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content : " "; /* 1 */
    display : table; /* 2 */
}

.clearfix:after {
    clear : both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width : 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio : 1.25),
(min-resolution : 1.25dppx),
(min-resolution : 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *:before,
    *:after {
        background  : transparent !important;

        background  : transparent !important;
        color       : #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow  : none !important;
        text-shadow : none !important;
    }

    a,
    a:visited {
        text-decoration : underline;
    }

    a[href]:after {
        content : " (" attr(href) ")";
    }

    abbr[title]:after {
        content : " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content : "";
    }

    pre,
    blockquote {
        border            : 1px solid #999;
        page-break-inside : avoid;
    }

    /*Full callendar options, colors, etc*/
    /*fim dos estilos do full callendar*/
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display : table-header-group;
    }

    tr,
    img {
        page-break-inside : avoid;
    }

    img {
        max-width : 100% !important;
    }

    p,
    h2,
    h3 {
        orphans : 3;
        widows  : 3;
    }

    h2,
    h3 {
        page-break-after : avoid;
    }
}

