.space-header{
  margin-top: 100px;
}

body {
  background: url('/resources/background.png') no-repeat;
  color: #FFFFFF;
}

.img-button {
  width:45px;
  height: 17px;
}

.logo {
    width: 320px;
    height: 100px;
}
.row {
  margin-top: 50px;
}

.frame-form {
  border: 2px;
  border-color: #FFFFFF;
  border-style: solid;
  width: 400px;
  height: 540px;
}
.frame-spaces {
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 20px;
  display: block;

}

button:hover{
  color:#FFFFFF;
}

input[type=text] {
  height:30px;
  border: 0;
  color: #FFFFFF;
  background: transparent;
  width: calc(100% - 2px);
  margin-left:1px;
  box-shadow: -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
input[type=text]:focus {
  outline: none;
  color: #FFFFFF;
  border:0;
  background: transparent;
  box-shadow: -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
}
input[type=password] {
  height:30px;
  border: 0;
  color: #FFFFFF;
  background: transparent;
  width: calc(100% - 2px);
  margin-left:1px;
  box-shadow: -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
input[type=password]:focus {
  outline: none;
  color: #FFFFFF;
  border:0;
  background: transparent;
  box-shadow: -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
}
input[type=radio] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
    border-color: #FFFFFF;
    background-color: transparent !important;

}
textarea {

  border: 0;
  color: #FFFFFF;
  background: transparent;
  width: calc(100% - 2px);
  margin-left:1px;
  box-shadow: -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  resize: none;
}
textarea:focus {
  outline: none;
  color: #FFFFFF;
  border:0;
  background: transparent;
  box-shadow: -8px 10px 0px -8px #FFFFFF, 8px 10px 0px -8px #FFFFFF;
}
