/* div {
	border:1px solid RED;
} */
.profile-picture{
	width: 100% !important;
	height:143px !important;
}
#login-buttons *{
	background: transparent;
	color:#fff;
}
.accounts-dialog{
	margin-top:30px !important;
}

form[name="EmpresaForm"] textarea { 
	height: 200px !important;
}
 .editable-text, .editable-textarea{
	width: 100% !important;
}