<div class="body-side-padding margin-top-30 space-footer background-blacked border-white">

    <ng-include src="'client/barra-controle.html'"></ng-include>


    <div id="trajetoria-de-desenvolvimento">

        <h3 class="text-center">Trajetória de Desenvolvimento</h3>

        <div>
            <table class="table text-center table-responsive trajetoria margin-top-30">
                <thead>
                    <tr>
                        <td width="15%" bgcolor="#80C8A4">
                            15%
                        </td>
                        <td width="20%" bgcolor="#C280D2">
                            20%
                        </td>
                        <td width="6%" bgcolor="#FCC480">
                            6%
                        </td>
                        <td width="18%" bgcolor="#80AFF5">
                            18%
                        </td>
                        <td width="6%" bgcolor="#F98800">
                            6%
                        </td>
                        <td width="30%" bgcolor="#005FEA">
                            30%
                        </td>
                        <td width="20%" bgcolor="#C63E59">
                            20%
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="linhas-verticais">
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Benchmarking</strong> <br/>
                            10 a 20/11
                        </td>
                        <td>
                            <strong>Geração de Alternativas</strong> <br/>
                            20/11 a 03/05
                        </td>
                        <td>
                            <strong>1 Entrega</strong> <br/>
                            03 a 05/12
                        </td>
                        <td>
                            <strong>Desenvolvimento</strong> <br/>
                            17 a 20/12
                        </td>
                        <td>
                            <strong>2 Entrega</strong> <br/>
                            17 a 20/12
                        </td>
                        <td>
                            <strong>Finalização</strong> <br/>
                            20/12 a 20/01
                        </td>
                        <td>
                            <strong>Entrega Final</strong> <br/>
                            20 a 21/01
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="border-white margin-top-30 col-md-10 pull-right background-grey trajetoria-detalhe row no-padding">
            <div class="col-md-4">
                <h4>Descrição</h4>

                <textarea style="height: 80px" name="" class="border-white" id="" placeholder="Defina uma recompença para esta etapa"></textarea><br/><br/>

                <h4>Prazo</h4>

                <input type="text" placeholder="Data inicial"/><br/>
                <input type="text" placeholder="Data final"/>
            </div>
            <div class="col-md-4">
                <h4>Ações (mínimo uma ação)</h4>

                <textarea style="height: 100px" name="" class="border-white" id="" placeholder="Defina uma recompença para esta etapa"></textarea><br/><br/>

                <div class="col-md-7 center-block float-none">
                    <a class="btn btn-default btn-100-percent" href="/cadastroEmpresa">Incluir Ação</a>
                </div>
                <br/>

                <div class="col-sm-12  col-xs-12">
                    <span class="pull-left">Cor: </span>

                    <div class="input-squared pull-left" style="background-color: #009148">
                        <input type="radio" id="vermelho" name="cor" value="vermelho"><label for="vermelho"></label>
                    </div>
                    <div class="input-squared pull-left" style="background-color: #005FEA">
                        <input type="radio" id="azul" name="cor" value="azul"><label for="azul"></label>
                    </div>
                    <div class="input-squared pull-left" style="background-color: #8500A5">
                        <input type="radio" id="roxo" name="cor" value="roxo"><label for="roxo"></label>
                    </div>
                    <div class="input-squared pull-left" style="background-color: #C63E59">
                        <input type="radio" id="rosa" name="cor" value="rosa"><label for="rosa"></label>
                    </div>
                    <div class="input-squared pull-left" style="background-color: #F98800">
                        <input type="radio" id="amarelo" name="cor" value="amarelo"><label for="amarelo"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Recompensa (opcional)</h4>

                <textarea style="height: 110px" name="" class="border-white" id="" placeholder="Defina uma recompença para esta etapa"></textarea><br/><br/>

                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-default btn-100-percent" href="/cadastroEmpresa">Adiantar Conclusão</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-default btn-100-percent" href="/perfil">Solicitar alteração</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

