<div class="container margin-top-30 space-footer background-blacked border-white">

    <ng-include src="client/barra-controle.html"></ng-include>


    <div id="trajetoria-de-desenvolvimento">

        <h3 class="text-center">Trajetória de Desenvolvimento</h3>

        <div>
            <table class="table text-center table-responsive trajetoria margin-top-30">
                <thead>
                    <tr>
                        <td width="15%" bgcolor="#80C8A4">
                            15%
                        </td>
                        <td width="20%" bgcolor="#C280D2">
                            20%
                        </td>
                        <td width="6%" bgcolor="#FCC480">
                            6%
                        </td>
                        <td width="18%" bgcolor="#80AFF5">
                            18%
                        </td>
                        <td width="6%" bgcolor="#F98800">
                            6%
                        </td>
                        <td width="30%" bgcolor="#005FEA">
                            30%
                        </td>
                        <td width="20%" bgcolor="#C63E59">
                            20%
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="linhas-verticais">
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Benchmarking</strong> <br/>
                            10 a 20/11
                        </td>
                        <td>
                            <strong>Geração de Alternativas</strong> <br/>
                            20/11 a 03/05
                        </td>
                        <td>
                            <strong>1 Entrega</strong> <br/>
                            03 a 05/12
                        </td>
                        <td>
                            <strong>Desenvolvimento</strong> <br/>
                            17 a 20/12
                        </td>
                        <td>
                            <strong>2 Entrega</strong> <br/>
                            17 a 20/12
                        </td>
                        <td>
                            <strong>Finalização</strong> <br/>
                            20/12 a 20/01
                        </td>
                        <td>
                            <strong>Entrega Final</strong> <br/>
                            20 a 21/01
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h3>Resumo da trajetória:</h3>

            <div>
                <h4>Dias para a entrega: <span>4</span></h4>
                <h4>Porcentagem restante: <span>38%</span></h4>
                <h4>Atraso: <span>6%</span></h4>
            </div>
        </div>

    </div>

</div>

