<div class="container margin-top-30 space-footer background-blacked border-white">

    <ng-include src="'client/barra-controle.html'"></ng-include>

    <div id="trajetoria-de-desenvolvimento">

        <h3 class="text-center">Trajetória de Desenvolvimento</h3>
        <div>
            <table class="table text-center table-responsive trajetoria margin-top-30">
                <thead>
                    <tr>
                        <td width="15%" bgcolor="#80C8A4">
                            15%
                        </td>
                        <td width="20%" bgcolor="#C280D2">
                            20%
                        </td>
                        <td width="6%" bgcolor="#FCC480">
                            6%
                        </td>
                        <td width="18%" bgcolor="#80AFF5">
                            18%
                        </td>
                        <td width="6%" bgcolor="#F98800">
                            6%
                        </td>
                        <td width="30%" bgcolor="#005FEA">
                            30%
                        </td>
                        <td width="20%" bgcolor="#C63E59">
                            20%
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="linhas-verticais">
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td>
                            <hr/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>Benchmarking</strong> <br/>
                            10 a 20/11
                        </td>
                        <td>
                            <strong>Geração de Alternativas</strong> <br/>
                            20/11 a 03/05
                        </td>
                        <td>
                            <strong>1 Entrega</strong> <br/>
                            03 a 05/12
                        </td>
                        <td>
                            <strong>Desenvolvimento</strong> <br/>
                            17 a 20/12
                        </td>
                        <td>
                            <strong>2 Entrega</strong> <br/>
                            17 a 20/12
                        </td>
                        <td>
                            <strong>Finalização</strong> <br/>
                            20/12 a 20/01
                        </td>
                        <td>
                            <strong>Entrega Final</strong> <br/>
                            20 a 21/01
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="border-white margin-top-30 col-md-10 pull-right background-grey trajetoria-detalhe no-padding">
            <div class="col-md-4">
                <h4>Descrição</h4>

                <p>Lorem ipsum dolor sit amet, consectetur t, consectetur adipisicing elit.reprehenderit?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias animi architecto, aut blm.</p>

                <h4>Prazo</h4>

                <p>10/11/2015 a 20/11/2015</p>
            </div>
            <div class="col-md-4">
                <h4>Ações</h4>

                <p>1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis delectus eius natus nec.</p>

                <p>2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus archi.</p>

                <p>3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt dicta dolore eum!</p>
            </div>
            <div class="col-md-4">
                <h4>Recompensa</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet corporis doloremque ducimus et lab?</p><br/>

                <div>
                    <div class="col-md-7 center-block float-none">
                        <a class="btn btn-default btn-100-percent" href="/cadastroEmpresa">Adiantar Conclusão</a>
                    </div>
                    <br/>

                    <div class="col-md-7 center-block float-none">
                        <a class="btn btn-default btn-100-percent" href="/perfil">Solicitar alteração</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

