<!--Form do cadastro do perfil.-->
<div class="login-home frame-form container text-center ">
  <form class="login-form frame-spaces">
    <div class="row ">
      <img  class="logo" src="../resources/Logo-Agripa.png"/>
      <div class="twelve columns container">
        <input type="text" name="nome" placeholder="nome completo">
        <input type="text" name="email" placeholder="e-mail">
        <input type="password" name="senha" placeholder="senha">
        <textarea name="descricao"  placeholder="breve descrição"></textarea>

      </div> <!-- end twelve columns-->
    </div> <!-- end row-->
    <div class="row">
      <radiogroup>
        <div class="six columns container">
          <input type="radio" id="mentor" name="role" value="mentor"><label for="mentor">Mentor</label>
        </div>
        <div class="six columns container">
          <input type="radio" name="role" id="empreendedor" value="empreendedor"><label for="mentor">Empreendedor</label>
        </div>
    </radiogroup>
    </div>
    <div class="row">
        <div class="twelve columns container">

          <ul class="nav nav-justified">
            <li><button class="buttonLogin">Voltar</button></li>
            <li><button class="buttonLogin">Próximo</button></li>
          </ul>

        </div>
      </div>
  </form>
</div>
