<!--Form do cadastro do perfil.-->
<div class="col-lg-5 col-md-6 col-sm-7 col-xs-11 float-none center-block">
    <div class="login-home frame-form text-center space-header space-footer">
        <form class="login-form frame-spaces">
            <div ng-show="mostrarEtapa(0)">
                <div>
                    <img class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>

                    <div class="margin-top-30">
                        <input type="text" ng-model="nUser.nome" placeholder="Nome Completo"> <br/><br/>
                        <input type="text" ng-model="nUser.email" placeholder="E-mail"><br/><br/>
                        <input type="password" ng-model="nUser.senha" placeholder="Senha"><br/><br/>
                    </div>
                </div>
                <!-- end row-->
                <br/>

                <div class="overflow-hidden">
                    <small class="visible-xs text-left col-xs-12">Perfil <br></small>
                    <div class="col-sm-6  col-xs-11">
                        <div class="input-squared pull-left">
                            <input type="radio" ng-model="nUser.tipo_conta" id="mentor" name="role" value="mentor"><label for="mentor"></label>
                        </div>
                        <span class="pull-left">Mentor</span>
                    </div>
                    <div class="col-sm-6  col-xs-11">
                        <div class="input-squared pull-left">
                            <input type="radio" ng-model="nUser.tipo_conta" name="role" id="empreendedor" value="empreendedor"><label for="empreendedor"></label>
                        </div>
                        <span class="pull-left">Empreendedor</span>
                    </div>
                    <br/><br/>

                    <small class="visible-xs text-left col-xs-12">Genero <br></small>
                    <div class="col-sm-6  col-xs-11">
                        <div class="input-squared pull-left">
                            <input type="radio" ng-model="nUser.genero" id="masculino" name="genero" value="masculino"><label for="masculino"></label>
                        </div>
                        <span class="pull-left">Masculino</span>
                    </div>
                    <div class="col-sm-6  col-xs-11">
                        <div class="input-squared pull-left">
                            <input type="radio" ng-model="nUser.genero" name="genero" id="feminino" value="feminino"><label for="feminino"></label>
                        </div>
                        <span class="pull-left">Feminino</span>
                    </div>
                </div>
                <!-- Botões de navegação-->
                <br/>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setEtapaAnterior()">Voltar</button>
                    </div>
                    <div class="margin-top-30 visible-xs"></div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setProximaEtapa()">Próximo</button>
                    </div>
                </div>

                <div class="">
                    <ul class="progressbar margin-top-30 col-lg-8 float-none center-block">
                        <li><span class="active"></span></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <!-- Breve descrição-->
            <div ng-show="mostrarEtapa(1)">
                <div>
                    <img class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>
                    <textarea class="lined-textarea" name="descricao" ng-model="nUser.breve_descricao" rows="20" cols="20" placeholder="Descrição Profissional"></textarea>
                </div>
                <!-- end row-->
                <div class="row margin-top-30">
                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setEtapaAnterior()">Voltar</button>
                    </div>
                    <div class="margin-top-30 visible-xs"></div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setProximaEtapa()">Próximo</button>
                    </div>
                </div>

                <ul class="progressbar margin-top-30 col-lg-8 float-none center-block">
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                    <li></li>
                    <li></li>
                </ul>


            </div>
            <!-- tags expertise-->
            <div ng-show="mostrarEtapa(2)">
                <div>
                    <img class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>

                    <!--<md-chips ng-model="pc.tagNames" readonly="pc.readonly" placeholder="adicione uma expertise"
                              delete-button-label="remova expertise" delete-hing="clique em delete para remover a tag"
                              secondary-placeholder="+Expertise"></md-chips> -->
                    <md-contact-chips
                            ng-model="tags"
                            md-contacts="querySearch($query)"
                            md-contact-name="name"
                            md-require-match="true"
                            md-highlight-flags="i"
                            filter-selected="filterSelected"
                            placeholder="Expertises">
                    </md-contact-chips>
                    <!-- end twelve columns-->
                </div>
                <!-- end row-->
                <div class="row  margin-top-30">

                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setEtapaAnterior()">Voltar</button>
                    </div>
                    <div class="margin-top-30 visible-xs"></div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setProximaEtapa()">Próximo</button>
                    </div>

                </div>

                <ul class="progressbar margin-top-30 col-lg-8 float-none center-block">
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                    <li></li>
                </ul>

            </div>
            <!-- Redes sociais-->
            <div ng-show="mostrarEtapa(3)">
                <div>
                    <img class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>

                    <div id="input-midias-sociais" class="margin-top-30">
                        <input type="text" readonly name="facebook" ng-model="nUser.facebook" placeholder=""><span>+</span><br><br>
                        <input type="text" readonly name="twitter" ng-model="nUser.twitter" placeholder=""><span>+</span><br><br>
                        <input type="text" readonly name="linkedIn" ng-model="nUser.linkedIn" placeholder=""><span>+</span>
                    </div>
                    <br><br/>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-squared pull-left">
                                <input type="checkbox" id="img-perfil-faceboox" style="margin-right: 10px;"/><label for="img-perfil-faceboox"></label>
                            </div>
                            <span class="pull-left">Utilizar mesma foto de perfil do Facebook</span>
                        </div>

                        <div class="col-md-12 margin-top-30">
                            <input type="file" ng-model="fileF" onchange="angular.element(this).scope().addTempImage(this.files)" value="escolher foto">
                        </div>

                        <p ng-show="feedbackUpload">Upload realizado com sucesso!</p>

                    </div>
                    <!-- end twelve columns-->
                </div>
                <!-- end row-->
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default btn-100-percent" ng-click="addImages()" style="margin-top:20px;">Carregar foto de perfil</button>
                    </div>
                </div>
                <div class="row" style="margin-top:50px;">

                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="setEtapaAnterior()">Voltar</button>
                    </div>
                    <div class="margin-top-30 visible-xs"></div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-100-percent" ng-click="pc.register(nUser)">Concluir</button>
                    </div>
                </div>

                <ul class="progressbar margin-top-30 col-lg-8 float-none center-block">
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                    <li><span class="active"></span></li>
                </ul>

            </div>
        </form>
    </div>

</div>
