<div class="col-md-4 float-none center-block">
    <div class="login-home frame-form text-center space-header">
        <form class="login-form frame-spaces">
            <div class="row">
                <img class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>
                <br><br>
                <h4 class="text-center">Bem-vindo ao sistema de gestão de mentorias</h4><br>
                <input ng-keyup="$event.keyCode == 13 && login(aUser)()" type="text" ng-model="aUser.email" placeholder="E-mail"><br><br>
                <input ng-keyup="$event.keyCode == 13 && login(aUser)()" type="password" ng-model="aUser.senha" placeholder="Senha">
                <span>{{error}}</span>
                <!-- end six columns-->
            </div>
            <!-- end row-->
            <div class="row" style="margin-top:50px;">
                <ul class="nav nav-justified">
                    <li>
                        <a id="button-login-linkedIn" class="btn btn-default">
                            Logar com
                            <img class="img-button-linkedin" src="../resources/logo-linkedin.png">
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-default" ng-click="login(aUser)">Logar</a>
                    </li>
                </ul>
                <br><br>

                <div class="text-center text-decoration-underline">
                    <a class="color-white" href="/cadastroPerfil">Não possui uma conta? Cadastre-se</a>
                    <br><br>
                    <a class="color-white" href="/resetSenha">Esqueci minha senha</a>
                </div>
            </div>
        </form>
    </div>
</div>
