<div class="login-home frame-form container text-center space-header">
    <form class="login-form frame-spaces">
        <div class="row ">
            <div class="twelve columns container">
                <img class="logo" src="../resources/Logo-Agripa.png"/>
                <h4 class="text-center">Bem-vindo ao sistema de gestão de mentorias</h4>
                <input ng-keyup="$event.keyCode == 13 && login(aUser)()" type="text" ng-model="aUser.email" placeholder="e-mail">
                <input ng-keyup="$event.keyCode == 13 && login(aUser)()" type="password" ng-model="aUser.senha" placeholder="senha">
                <span>{{error}}</span>
            </div>
            <!-- end six columns-->
        </div>
        <!-- end row-->
        <div class="row" style="margin-top:50px;">
            <div class="twelve columns container">
                <ul class="nav nav-justified">
                    <li>
                        <button class="buttonLoginLinkedIn">Entrar com <img class="img-button" src="../resources/logo-linkedin.png"></button>
                    </li>
                    <li>
                        <button ng-click="login(aUser)">Entrar</button>
                    </li>
                </ul>
                <div class="text-center">
                    <span>Não está cadastrado? Cadastre-se </span><a href="/cadastroPerfil">aqui</a>
                    <br>
                    <a href="/resetSenha">Esqueci minha senha</a>
                </div>
            </div>
        </div>
    </form>
</div>
