<div class="body-side-padding margin-top-30 space-footer background-blacked border-white">

    <ng-include src="'client/barra-controle.html'"></ng-include>

    <!-- Calendario daqui pra baixo-->

    <div class="row profile-border">
        <div class="col-md-4">
            <div class="row profile-border margin-top-30 space-footer">
                <div id="agendaDia" class="text-center">
                </div>
            </div>
        </div>
        <div class="col-md-8 float-right">

            <div class="row profile-border margin-top-30 space-footer">
                <div id="agendaMes" class="text-center"></div>
            </div>
        </div>
    </div>
    <!-- fim da porra do calendário, daqui pra baixo estão as outras telas de choradeira (Mensagens e ações da mentoria,

    que na real são as solicitaçoes pra aceitar PORRA!) -->
</div>
