<div class="container-fluid">

    <a href="javascript:" data-toggle="modal" data-target="#modal-solicitar-mentoria">
        Solicitação de Mentoria
    </a><br/>
    <a href="javascript:" data-toggle="modal" data-target="#modal-avaliacao-mentor">
        Avaliação do Mentor
    </a><br/>
    <a href="javascript:" data-toggle="modal" data-target="#modal-avaliacao-mentoria">
        Avaliação de Mentoria
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-solicitar-mentoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong class="modal-b-title">Solicitação de Mentoria</strong>
                <a href="javascript:" class="close modal-close-icon border-white border-radious-none color-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>

                <div class="text-center">
                    <h4 class="modal-title" id="myModalLabel">Solicitação de Mentoria</h4>
                    <small>A seguinte empresa lhe enviou um convite de mentoria</small>
                </div>
            </div>
            <div class="modal-body overflow-hidden">
                <div class="col-md-5 text-center right-white-border">
                    <img class="img-responsive" src="http://lorempixel.com/400/400"/>
                    <h4>Gist</h4>
                    <small>Startup de games</small>
                </div>
                <div class="col-md-7">
                    <textarea name="mensagem" id="" cols="30" rows="11" style="height: auto" placeholder="Mensagem ..."></textarea>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default background-transparent border-radious-none border-white color-white"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Negar</button>
                <button type="button" class="btn btn-primary background-transparent border-radious-none border-white color-white"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aceitar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-avaliacao-mentor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong class="modal-b-title">Avaliação do Mentor</strong>
                <a href="javascript:" class="close modal-close-icon border-white border-radious-none color-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>

                <div class="text-center">
                    <h4 class="modal-title" id="myModalLabel">Avaliação do Mentor</h4>
                    <small>Passo nescessário para encerrar a sessão de mentoria</small>
                </div>
            </div>
            <div class="modal-body overflow-hidden">
                <div class="col-md-5 text-center right-white-border">
                    <img class="img-responsive" src="http://lorempixel.com/400/400"/>
                    <h4>Juliana Barreiro</h4>

                    <p>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </p>
                </div>
                <div class="col-md-7">
                    <textarea name="mensagem" id="" cols="30" rows="11" style="height: auto" placeholder="Texto Avaliativo ..."></textarea>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default background-transparent border-radious-none border-white color-white" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"
                                                                                                                                                                                aria-hidden="true"></span> Cancelar
                </button>
                <button type="button" class="btn btn-primary background-transparent border-radious-none border-white color-white"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Avaliar e encerrar sessão
                    de mentoria
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-avaliacao-mentoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong class="modal-b-title">Avaliação de Mentoria</strong>
                <a href="javascript:" class="close modal-close-icon border-white border-radious-none color-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>

                <div class="text-center">
                    <h4 class="modal-title" id="myModalLabel">Avaliação de Mentoria</h4>
                    <small>A sessão de mentoria foi encerrada há 1 dia e 4 horas. Avalie o desempenho da mentoria.</small>
                </div>
            </div>
            <div class="modal-body overflow-hidden">
                <div class="col-md-5 text-center right-white-border">
                    <img class="img-responsive" src="http://lorempixel.com/400/400"/>
                    <h4>Juliana Barreiro</h4>

                    <p>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </p>
                </div>
                <div class="col-md-7">
                    <textarea name="mensagem" id="" cols="30" rows="11" style="height: auto" placeholder="Texto Avaliativo ..."></textarea>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default background-transparent border-radious-none border-white color-white" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
                </button>
                <button type="button" class="btn btn-primary background-transparent border-radious-none border-white color-white"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Avaliar e encerrar sessão
                    de mentoria
                </button>
            </div>
        </div>
    </div>
</div>
