<div class="container">

    <div class="col-md-5">
        <div class="col-md-6">
            <h3>Empresas</h3>
            <ul>
                <li><span class="col-md-3">A</span><span class="col-md-9"></span></li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
                <li><span class="col-md-3">G</span><span class="col-md-9"></span></li>
                <li>
                <span class="col-md-3">
                    <img src="http://lorempixel.com/200/200" class="img-responsive" />
                </span>
                <span class="col-md-9">
                    <h5>Gist</h5>
                    <p>Soluções em Games</p>
                </span>
                </li>
                <li>H</li>
                <li>I</li>
                <li>J</li>
                <li>K</li>
                <li>L</li>
                <li>M</li>
                <li>N</li>
                <li>O</li>
                <li>P</li>
                <li>Q</li>
                <li>R</li>
                <li>S</li>
                <li>T</li>
                <li>U</li>
                <li>V</li>
                <li>W</li>
                <li>X</li>
                <li>Y</li>
                <li>Z</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Usuários</h3>
        </div>
    </div>
    <div class="col-md-7">
        <h3>Trajetórias</h3>
    </div>
</div>
