<div class="container margin-top-30 space-footer" id="painel-controle">

    <div class="col-lg-5 col-md-4 col-sm-12 no-padding">
        <div class="col-sm-6 no-padding" style="padding-right: 15px !important;">
            <h3 class="text-center">Empresas</h3>

            <div id="lista-empresas"><ul class="lista">
                <li>
                    <div>A</div>
                    <div></div>
                </li>
                <li>
                    <div>B</div>
                    <div></div>
                </li>
                <li>
                    <div>C</div>
                    <div></div>
                </li>
                <li>
                    <div>D</div>
                    <div></div>
                </li>
                <li>
                    <div>E</div>
                    <div></div>
                </li>
                <li>
                    <div>F</div>
                    <div></div>
                </li>
                <li>
                    <div>S</div>
                    <div></div>
                </li>
                <li class="item">
                    <div class="picture">
                        <img src="http://lorempixel.com/200/200" class="img-responsive"/>
                    </div>
                    <div class="identification">
                        <h5>Gist</h5>

                        <p>Soluções em Games</p>
                    </div>
                </li>
                <li>
                    <div>H</div>
                    <div></div>
                </li>
                <li>
                    <div>I</div>
                    <div></div>
                </li>
                <li>
                    <div>J</div>
                    <div></div>
                </li>
                <li>
                    <div>K</div>
                    <div></div>
                </li>
                <li>
                    <div>L</div>
                    <div></div>
                </li>
                <li>
                    <div>M</div>
                    <div></div>
                </li>
                <li>
                    <div>N</div>
                    <div></div>
                </li>
                <li>
                    <div>O</div>
                    <div></div>
                </li>
                <li>
                    <div>P</div>
                    <div></div>
                </li>
                <li>
                    <div>Q</div>
                    <div></div>
                </li>
                <li>
                    <div>R</div>
                    <div></div>
                </li>
                <li>
                    <div>S</div>
                    <div></div>
                </li>
                <li>
                    <div>T</div>
                    <div></div>
                </li>
                <li>
                    <div>U</div>
                    <div></div>
                </li>
                <li>
                    <div>V</div>
                    <div></div>
                </li>
                <li>
                    <div>W</div>
                    <div></div>
                </li>
                <li>
                    <div>X</div>
                    <div></div>
                </li>
                <li>
                    <div>Y</div>
                    <div></div>
                </li>
                <li>
                    <div>Z</div>
                    <div></div>
                </li>
            </ul>
            </div>
        </div>
        <div class="col-sm-6 no-padding" style="padding-right: 15px !important;">
            <h3 class="text-center">Usuários</h3>

            <div id="lista-usuarios"><ul class="lista">
                <li>
                    <div>A</div>
                    <div></div>
                </li>
                <li>
                    <div>B</div>
                    <div></div>
                </li>
                <li>
                    <div>C</div>
                    <div></div>
                </li>
                <li>
                    <div>D</div>
                    <div></div>
                </li>
                <li>
                    <div>E</div>
                    <div></div>
                </li>
                <li>
                    <div>F</div>
                    <div></div>
                </li>
                <li>
                    <div>S</div>
                    <div></div>
                </li>
                <li class="item">
                    <div class="picture">
                        <img src="http://lorempixel.com/200/200" class="img-responsive"/>
                    </div>
                    <div class="identification">
                        <h5>Gist</h5>

                        <p>Soluções em Games</p>
                    </div>
                </li>
                <li>
                    <div>H</div>
                    <div></div>
                </li>
                <li>
                    <div>I</div>
                    <div></div>
                </li>
                <li>
                    <div>J</div>
                    <div></div>
                </li>
                <li>
                    <div>K</div>
                    <div></div>
                </li>
                <li>
                    <div>L</div>
                    <div></div>
                </li>
                <li>
                    <div>M</div>
                    <div></div>
                </li>
                <li>
                    <div>N</div>
                    <div></div>
                </li>
                <li>
                    <div>O</div>
                    <div></div>
                </li>
                <li>
                    <div>P</div>
                    <div></div>
                </li>
                <li>
                    <div>Q</div>
                    <div></div>
                </li>
                <li>
                    <div>R</div>
                    <div></div>
                </li>
                <li>
                    <div>S</div>
                    <div></div>
                </li>
                <li>
                    <div>T</div>
                    <div></div>
                </li>
                <li>
                    <div>U</div>
                    <div></div>
                </li>
                <li>
                    <div>V</div>
                    <div></div>
                </li>
                <li>
                    <div>W</div>
                    <div></div>
                </li>
                <li>
                    <div>X</div>
                    <div></div>
                </li>
                <li>
                    <div>Y</div>
                    <div></div>
                </li>
                <li>
                    <div>Z</div>
                    <div></div>
                </li>
            </ul></div>
        </div>
    </div>
    <div class="col-lg-7 col-md-8 col-xs-12 no-padding">
        <h3 class="text-center">Trajetórias</h3>

        <div id="trajetorias"><div>
            <div class="requisicao">
                <div class="col-xs-4 ligacao">
                    <div>
                        <div class="col-xs-5 no-padding picture">
                            <img src="http://lorempixel.com/200/200" class="img-responsive"/>
                        </div>
                        <div class="col-xs-7">
                            <h5>Gist</h5>

                            <p>Soluções em Games</p>
                        </div>
                    </div>
                    <hr/>
                    <div>
                        <div class="col-xs-5 no-padding picture">
                            <img src="http://lorempixel.com/200/200" class="img-responsive"/>
                        </div>
                        <div class="col-xs-7">
                            <h5>Renam Moreira</h5>

                            <p>Empreendedor / Lider</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 solicitacao">
                    <h5 class="text-center"><strong>Solicitação de Alteração</strong></h5>

                    <p>Etapa: <strong>Benchmarking</strong></p><br/>

                    <p>Prazo atual: <strong>10/11/2015 a 20/11/2015</strong></p>

                    <p>Prazo solicitado: <strong>10/11/2015 a 22/11/2015</strong></p><br/>

                    <div class="text-center botoes">
                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Aceitar</a>
                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Negar</a>
                    </div>
                </div>
                <div class="col-xs-4 comentario">
                    <h5 class="text-center"><strong>Comentário</strong></h5>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur eaque eum explicabo modi perferendis quaerat quo sequi. Autem blanditiis doloremque dolores illo impedit
                        ipsum iure natus
                        tempora vero vitae!</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>