<div class="container margin-top-30 space-footer background-blacked border-white">

    <ng-include src="'client/barra-controle.html'"></ng-include>

    <!-- Calendario daqui pra baixo-->

    <div class="row profile-border">
        <div class="col-md-4 margin-top-30 space-footer">
            <div id="agendaDia">
            </div>
        </div>
        <div class="col-md-8 float-right">

            <div class="row profile-border margin-top-30 space-footer">
                <div id="agendaMes"></div>
            </div>
        </div>
    </div>
</div>
