<div class="col-lg-5 col-md-6 col-sm-7 col-xs-11 float-none center-block">
    <div class="login-home frame-form text-center space-header space-footer">
        <form class="login-form frame-spaces">
            <div>
                <div>
                    <img class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>
                    <h4 class="text-center margin-top-30">Cadastro concluído com sucesso</h4>
                    <h4 class="text-center">O que deseja fazer agora?</h4><br/>

                    <div>
                        <div class="col-md-7 center-block float-none">
                            <a class="btn btn-default btn-100-percent" href="/cadastroEmpresa">Cadastrar Empresa</a>
                        </div>
                        <br/>
                        <div class="col-md-7 center-block float-none">
                            <a class="btn btn-default btn-100-percent" href="/meuPerfil">Visualizar Perfil</a>
                        </div>
                    </div>
                </div>
                <!-- end six columns-->
            </div>
        </form>
    </div>
</div>
