<div class="login-home frame-form container text-center space-header">
    <form class="login-form frame-spaces">
        <div class="row ">
            <div class="twelve columns container">
                <img  class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>
                <h4 class="text-center">Cadastro concluído com sucesso</h4>
                <h4 class="text-center">O que deseja fazer agora?</h4><br/>

                <a class="button" href="/cadastroEmpresa">Cadastrar Empresa</a>
                <br/>
                <a class="button" href="/perfil">Visualizar Perfil</a>
            </div>
            <!-- end six columns-->
        </div>
    </form>
</div>
