<div class="login-home frame-form container text-center">
    <form class="login-form frame-spaces">
        <div class="row ">
            <div class="twelve columns container">
                <img class="logo" src="../resources/Logo-Agripa.png"/>
                <h4 class="text-center">Cadastro concluído com sucesso</h4>
                <h4 class="text-center">O que deseja fazer agora?</h4><br/>

                <button class="buttonLogin" href="/cadastrar-empresa">Cadastra Empresa</button>
                <br/>
                <button class="buttonLogin" href="/perfil">Visualizar Perfil</button>
            </div>
            <!-- end six columns-->
        </div>
    </form>
</div>
