<div class="col-md-4 float-none center-block">
    <div class="login-home frame-form text-center space-header space-footer">
        <form class="login-form frame-spaces">
            <div class="row">
                <img class="img-responsive center-block" src="../resources/Logo-Agripa.png"/>

                <h4 class="text-center margin-top-30">Preencha o campo abaixo para trocar sua senha</h4><br>
                <input type="password" placeholder="Senha"><br><br>
                <input type="password" placeholder="Senha Novamente">
                <span>{{error}}</span>
                <!-- end six columns-->
            </div>
            <!-- end row-->
            <div class="row margin-top-30">
                <div class="col-lg-12">
                    <a class="btn btn-default btn-100-percent">Trocar senha</a>
                </div>
            </div>
        </form>
    </div>
</div>

